img{
	max-width: 100%;
  height: auto;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-']  {
  display: flex;
  flex-direction: column;
}
.card {
    height: 100%;
}
.priority1{
	order:1;
}
.priority2{
	order:2;
}
.priority3{
	order:3;
}
.conta
