.container{
  display:flex;
  flex-direction: column;
}
.center{
  text-align: center;
    display: inline-block;
}
.large{
  font-size: 4em;
    padding: .4em;
}

input[type="checkbox"]{
    height: 2em;
    width: 2em;
    vertical-align: middle;
    }
