body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
  display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
.container_child{
  margin: auto;  /* Magic! */
  height:50%;
}
    .canvas{
  width:80%;
  height:40%;
}
.bot_container{
  background-color: green;

}
